services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - REDIS_ADDR=redis:6379
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6334
    depends_on:
      redis:
        condition: service_healthy
      qdrant:
        condition: service_started


  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 2s

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"